components/
artifacts/

# Snapcraft generated artifacts
*.snap
parts/
prime/
stage/

# Deploy temporary artifacts
setup_deploy.tar
setup_deploy.tar.gz

# Local setup archives (too large for GitHub)
setup/STMicroelectronics.txz
setup/fixture_m1mtf_base.txz

